.git
.next
**/.next
node_modules
**/node_modules
**/dist
tmp
*.log
.env*
**/.env*
!.env.example
Draft_Permintaan_Mahameru_Baja.pdf
**/.cms-data
**/.vercel
**/.admin-local-access.txt
.admin-local-access.txt
output
**/*.tsbuildinfo
